<h1>{{ user.username }}</h1>

<a href="{% url 'training_polls:index' %}">Home</a>
<a href="{% url 'training_polls:logout' %}">Logout</a>

<h1>List of your courses:</h1>
{% if list_language %}
    {% for language in list_language %}
        <form action="{% url 'training_polls:get_delete' language.language  %}" method="post">
        {% csrf_token %}
            <ul>
                <li>{{ language.language }}<input type="submit" value="Delete"></li>
            </ul>
        </form>
    {% endfor %}
{% endif %}

